*{margin:0;padding:0;width:100%;}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  }
body {width:100%;font-family: 'Noto Sans KR', sans-serif;font-size:16px;letter-spacing: -0.03em;}
a{text-decoration: none;color:#222;}

header{padding:10px 10px 5px;width:calc(100% - 20px);box-shadow: 0px 0px 10px 5px #888;position:relative;background-color: #fff;}
header.scroll{position:fixed;top:0;left:0;z-index: 999;}
header h1{width:60px;padding-left:10px;}



.head_inner{display: flex;justify-content: space-between;align-items: center;}
.head_inner .icon{display: flex;width:fit-content;}
.head_inner .icon p{width:10vw;height:10vw;}

/* navi */
.navi{display: flex;justify-content: space-around;width:fit-content !important;}
.navi .swiper-slide{width:fit-content !important;}
.navi a{width:fit-content;display: flex;align-items: center;justify-content: center;padding:2vw 0;margin:0 2vw;font-size:1.1rem;color:#888;font-weight:500;}
.navi a.active{color:#222;font-weight:700;}

.navi a.best{position:relative;}
.navi a.best::after{content:'';position:absolute;top:2vw;right:-1.5vw;width:1.5vw;height:1.5vw;background:#2fcab0;border-radius: 50%;animation: twinkle 0.7s alternate infinite;}
@keyframes twinkle {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.navi a.new{position:relative;}
.navi a.new::after{content:'N';position:absolute;top:1vw;right:-2vw;font-size:0.6rem;color:#f00;}

.navi a.wave span{animation: waviy 1s infinite;animation-delay: calc(.1s * var(--i));}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-7px)
    }
  }
/* main banner */
.main_bnr{position:relative;height:auto;margin-bottom:5vw}
.main_bnr .swiper-wrapper{height:fit-content;}
.main_bnr .swiper-pagination{display:block;padding:5px 15px;border-radius:20px;position: absolute;width:fit-content;height:fit-content;top:calc(100% - 13vw);left:calc(100% - 20vw);background:rgba(255,255,255,0.5);font-size:1rem;line-height: 100%;}

/* video Banner */
.main_bnr.videoSwiper .swiper-wrapper{height:56vw;}
.main_bnr.videoSwiper .swiper-wrapper .swiper-slide{height:auto;overflow: hidden;}

/* best_new */
.best_new{padding:10px 15px;margin-bottom:10vw;}
.best_new .tit{display: flex;}
.best_new .tit p{font-size: 1.5rem;font-weight:600;width:fit-content;margin-right:3vw;color:#888;}
.best_new .tit .best.on{color:#2fcab0;}
.best_new .tit .new.on{color:#ff9900;}

.item{width:40vw;margin-right:5vw;}
.item .prd_name{font-size: 1rem;font-weight:500;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.item .prd_price{display:flex;justify-content: space-between;align-items: flex-end;margin-top:1vw;}
.item .prd_price span{width:fit-content;}
.best_wrap .item .prd_price .per{font-size: 0.8rem;font-weight:700;color:#2fcab0;}
.new_wrap .item .prd_price .per{font-size: 0.8rem;font-weight:700;color:#ff9900;}
.item .prd_price .sale{font-size:1.1rem;font-weight:700;}
.item .prd_price .real{font-size:0.9rem;font-weight:600;color:#999;text-decoration: line-through;}

/* popup01 */
.pop01 .bg{position:fixed;top:0;left:0;right:0;bottom:0;background: rgba(0,0,0,0.8);z-index: 9999;}
.pop01 .pop_wrap{width:80vw;height:80vw;overflow:hidden;text-align:center;background:#fff;border-radius:10vw;  position:fixed;top:30vw;left:50%;margin-left:-40vw; z-index: 999999;}
.pop01 .pop_wrap img{width:100%;position: absolute;left:0;bottom: 0;}
.pop01 .pop_wrap .txt{font-size:1.5rem;font-weight:500;margin-top:20vw;position:absolute;top:-2vw;left:-3vw}
.pop01 .pop_wrap .emph{font-size:1.5rem;font-weight: 500;}
.pop01 .pop_wrap .emph span{font-size:2.0rem;display:block;font-weight: 700;color:#f00}
.pop01 .pop_wrap button{width:40vw;font-size:1.3rem;font-weight:600;border-radius: 10px;position:absolute;bottom:10vw;left:20vw}
.pop01 .pop_wrap .btn_close{font-size:2rem;font-weight:700;position:absolute;top:3vw;right:5vw;width:10vw;height:10vw;border: 1px solid #ddd;display: flex;align-items: center;justify-content: center;}


/* 인기 검색어 */
.search{padding:10px 15px;width:calc(100% - 30px);margin-bottom:10vw;}
.search .tit{margin-bottom:3vw;font-size: 1.5rem;font-weight:600;width:fit-content;margin-right:3vw;color:#222;}
.srch_wrap{margin-top:3vw;}
.srch_wrap .srch{padding:5px;display:flex;align-items: center;width:calc(100% - 10px);font-size: 1.1rem;font-weight:400;}
.srch_wrap .srch_one{border:1px solid #ddd;border-radius: 25vw;margin-bottom:4vw;box-shadow:0 0 10px  #ddd;}
.srch_wrap .srch .s_num{position:relative;width:fit-content;font-size:1.3rem;font-weight:700;margin:0 7vw 0 2vw;}
.srch_wrap .srch .s_num::after{content:'';background:url(/images/up.png) no-repeat 0 0;width:3vw;height:3vw;position:absolute;top:3vw;left:5vw}
.srch_wrap .srch:nth-child(3) .s_num::after{background:url(/images/down.png) no-repeat 0 0;}
.srch_wrap .srch:nth-child(4) .s_num::after{background:url(/images/down.png) no-repeat 0 0;}
.srch_wrap .srch_item{border:1px solid #ddd;border-radius: 5vw;box-shadow:0 0 10px  #ddd;}


/* wrap02 */
.vip{padding:10px 15px;width:calc(100% - 30px);margin-bottom:10vw;}
.vip .tit{margin-bottom:5vw;font-size: 1.5rem;font-weight:600;width:fit-content;margin-right:3vw;color:#222;}
.vip .tit span{color:#ff9900}
.vip .vip_wrap{display:flex;}
.vip .vip_wrap .item{width:40vw;}
.vip .vip_wrap .item .img{position:relative;}
.vip .vip_wrap .item .img::after{content:'sale';text-align:center;position:absolute;top:0;left:0;width:10vw;font-size:1.0rem;background:rgb(255, 37, 37);color:#fff;}
.vip .vip_wrap .item:nth-child(2) .img::after{content:'hot';text-align:center;position:absolute;top:0;left:0;width:10vw;font-size:1.0rem;background:#ff9900;color:#fff;}

/* popup02 */
.pop02 .bg{position:fixed;top:0;left:0;right:0;bottom:0;background: rgba(0,0,0,0.8);z-index: 9999;}
.pop02 .pop_wrap{width:80vw;height:120vw;overflow:hidden;text-align:center;background:#fff;border-radius:10vw;  position:fixed;top:30vw;left:50%;margin-left:-40vw; z-index: 999999;}
.pop02 .pop_wrap img{width:100%;position: absolute;left:0;top: 10vw;}
.pop02 .pop_wrap .txt{font-size:1.5rem;font-weight:500;margin-top:20vw;}
.pop02 .pop_wrap .btn_close{font-size:2rem;font-weight:700;position:absolute;top:3vw;right:5vw;width:10vw;height:10vw;border: 1px solid #ddd;display: flex;align-items: center;justify-content: center;}
.pop02 .pop_wrap .vip_txt{position:absolute;top:65vw}
.pop02 .pop_wrap .vip_txt span{color:#2fcab0;font-weight:700;font-size:1.8rem;}
.pop02 .pop_wrap .prd_txt{position:absolute;top:75vw;font-size:1.3rem;}
.pop02 .pop_wrap .prd_txt span{font-size:1.5rem;color:#ff9900;}
.pop02 .pop_wrap .sale_txt{position: absolute;bottom:6vw;font-size:1.3rem;}
.pop02 .pop_wrap .sale_txt span{font-size:1.5rem;color:#f00;font-weight:700;}

/* time_sale */
.time_wrap{display: flex;align-items: center;}

.time_sale{padding:10px 15px;width:calc(100% - 30px);margin-bottom:10vw;}
.time_sale .tit{margin-bottom:5vw;font-size: 1.5rem;font-weight:600;width:fit-content;margin-right:3vw;color:#222;}
.time_sale .prd_name{font-size: 1.2rem;font-weight:500;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-align: center;}
.time_sale .prd_price{display:flex;justify-content: center;align-items: flex-end;margin-top:1vw;}
.time_sale .prd_price .sale{font-size: 1.5rem;color:#2fcab0}
.time_sale .img{position:relative;}
.time_sale .img::after{content:'Timesale';text-align:center;position:absolute;top:0;left:0;width:20vw;font-size:1.1rem;background:rgba(0, 26, 255, 0.836);color:#fff;}


/* timer */
.count{display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;}
.sale_time{font-size:1.5rem;font-weight: 700;margin-bottom:3vw;}
#countdown{font-size:2.0rem;color:#f00;font-weight: 700;}


/* 고운군인 */
.roka{padding:10px 15px;width:calc(100% - 30px);margin-bottom:10vw;}
.roka .tit{margin-bottom:5vw;font-size: 1.5rem;font-weight:600;width:fit-content;margin-right:3vw;color:#222;}
.roka .tit span{color:green}
.roka_wrap .prd_wrap .swiper-wrapper{justify-content: space-between;}
.roka_wrap .prd_wrap .swiper-wrapper .per{color:green}


